<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.geo.mapper.BoardMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<select id="getList" resultType="org.geo.domain.BoardVO">
 	<![CDATA[
 	select * from tbl_board where bid > 0 	
 	]]>

	</select>

	<insert id="insert">
		insert into tbl_board (bid ,title, content,
		writer,
		regDate)
		values (bid_seq.NEXTVAL, #{title}, #{content},
		#{writer},
		SYSDATE)
	</insert>

	<select id="read" resultType="org.geo.domain.BoardVO">
		select * from tbl_board where bid =
		#{bid}
	</select>

	<delete id="delete">
		delete from tbl_board where bid = #{bid}
	</delete>

	<update id="update">
		update tbl_board
		set title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = SYSDATE
		where bid = #{bid}
	</update>


	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board where
		<include refid="criteria"></include>
		bid > 0
	</select>

	<select id="getListWithPaging"
		resultType="org.geo.domain.BoardVO">
  <![CDATA[
  select 
    bid, title, content, writer, regDate, updateDate
  from 
      (
      select /*+INDEX_DESC(tbl_board table1_pk) */
        rownum rn, bid, title, content, writer, regDate, updateDate
      from 
        tbl_board
      where 
  ]]>

		<include refid="criteria"></include> 
      
  <![CDATA[    
      rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount}   
  ]]>
	</select>
	
	<delete id="deleteBoardByUserid">
		delete from tbl_board where writer = #{userid}
	</delete>
	
</mapper>